<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="plugin" type="DelftTools.Shell.Gui.PluginConfigurationSectionHandler, DelftTools.Shell.Gui"/>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<plugin>
		<commands>
			<command class="MapZoomInCommand" name="Zoom &amp;In ..." shortcutkey="Ctrl-C" image="image6" category="Map" tooltip="Zoom in using rectangle ..."/>
			<command class="MapCommand(ZoomOut)" name="Zoom &amp;Out" image="image2" category="Map"/>
			<command class="MapCommand(AddLayer)" name="&amp;Add Layer ..." image="image2" category="Map"/>
			<command class="MapCommand(RemoveAllLayers)" name="Remove All Layers" image="image3" category="Map"/>
			<command class="MapCommand(ProjectLayer)" name="&amp;Project layer ..." image="image4" category="Map"/>
			<command class="MapCommand(ExportLayer)" name="&amp;Export layer ..." image="image5" category="Map"/>
			<command class="MapCommand(ZoomWorld)" name="Zoom world ..." image="image6" category="Map"/>
		</commands>
		<ui>
			<menus>
				<menu name="Map" after="Edit">
					<itemgrp name="Zoom Commands">
						<itemgrp class="MapCommand(ZoomIn)"/>
						<separator/>
						<itemgrp class="MapCommand(ZoomOut)"/>
					</itemgrp>
				</menu>
				<menu activeforview="LayerAttributesTable">
				</menu>
			</menus>
			<toolbars>
				<toolbar name="Map" activeforview="Map">
					<itemgrp name="ComboItem">
						<itemgrp class="MapCommand(ZoomIn)"/>
					</itemgrp>
					<itemgrp class="MapCommand(ZoomIn)"/>
					<itemgrp class="MapCommand(ZoomOut)"/>
				</toolbar>
			</toolbars>
		</ui>
	</plugin>
	<startup>
	</startup>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
</configuration>
