<?xml version="1.0"?>
<configuration>
<!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\server-log.xml" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
      logEntireMessage="true"
      logMalformedMessages="false"
      logMessagesAtServiceLevel="false"
      logMessagesAtTransportLevel="true"
      maxMessagesToLog="3000"
      maxSizeOfMessageToLog="10000"/>
    </diagnostics>
  </system.serviceModel>
-->
</configuration>
